﻿.abrirChat {
    color: #fff;
    background-color: #67a5d1;
    cursor: pointer;
    position: fixed;
    border-radius: 5px 5px 0 0;
    bottom: 0;
    right: 50px;
    overflow: hidden;
}

.abrirChat:hover {
    opacity: 0.8;
}

.abrirChat > div:first-child {
    float: left;
    background: rgba(0,0,0,0.15);
    padding: 0 11px;
    line-height: 30px;
}

.abrirChat > div:last-child {
    float: left;
    padding: 0 11px;
    line-height: 30px;
    user-select: none;
}

iframe{
    right: 48px;
    bottom: 0;
    position: fixed;
}
