﻿<h1>Web Chat</h1>

<iframe ng-if="vm.chat == true" height="400px" class="chat" src='https://webchat.botframework.com/embed/BotAir?s=scQGZHKs8HY.cwA.CTM.vnUxszP6xu7OwnFZzjqmSedWg5aEvG6nLo7_I38Xj2Q'></iframe>

<div class="abrirChat" ng-if="vm.chat == false" ng-click="vm.abrirChat()">
    <div>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
    </div>
    <div>
        <span>Precisando de ajuda?</span>
    </div>
</div>